//============================================================
// Forms
//============================================================
@mixin placeholder {
  @at-root #{&}::-webkit-input-placeholder {
    @content
  }
  @at-root #{&}:-moz-placeholder {
    @content
  }
  @at-root #{&}::-moz-placeholder {
    @content
  }
  @at-root #{&}:-ms-input-placeholder {
    @content
  }
  @at-root #{&}::placeholder {
    @content
  }
}

//input {
//  @include placeholder {
//    font-style:italic;
//  }
//}


@mixin positionMiddle() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin positionLeftMiddle($left) {
  position: absolute;
  top: 50%;
  left: $left;
  transform: translateY(-50%);
}

@mixin positionRightMiddle($right) {
  position: absolute;
  top: 50%;
  right: $right;
  transform: translateY(-50%);
}

@mixin positionFull() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

//fix fancybox
@function max($numbers...){
  @return m#{a}x(#{$numbers})
}

@function min($numbers...){
  @return m#{i}n(#{$numbers})
}
