@import '../includes/variables';

.btn {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 15px;
  padding: 11px 15px 7px;
  transition: all .3s;
  border: 1px solid $black;
  display: inline-block;
  font-family: $font-2;

  &:hover {
    color: $white;
    background-color: $black;
  }
}
