.social {
    display: flex;
    align-items: center;

    p {
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        font-family: $font-2;
        font-weight: 700;
        letter-spacing: 1px;
    }

    ul {
        margin-left: 10px;
    }

    li {
        display: inline-block;
        margin: 0 5px;
    }
}