.clearfix {
    @include clearfix;
}

body {
    color: $black; //Default text color
    letter-spacing: normal; //Default letter spacing
    font-size: 16px; //Default font size
    line-height: 1.15; //Default line height
    font-weight: 400; //Default font-weight
    background: #fff; //Default background
    font-family: $font-1;
}

.title-large {
    font-size: 55px;
    line-height: 60px;
}

.title {
    font-size: 30px;
    line-height: 38px;
}

.title-small {
    font-size: 14px;
    line-height: 17px;
    font-family: $font-2;
    font-weight: bold;
}

.title-articles {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.description-articles {
    font-size: 20px;
    line-height: 24px;
    font-style: italic;
}

.title-item {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.description {
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
}

.tag {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 15px;
    padding: 9px 18px;
    transition: all .3s;
    font-family: $font-2;
    font-weight: bold;
    letter-spacing: .5px;
}

.text-top-banner {
    font-size: 12px;
    line-height: 16px;
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
}

.center {
    text-align: center;
}

.box-newsletter {
    background-color: $orange;

    width: 280px;

    .title-dropdown {
        cursor: pointer;
        position: relative;
        font-size: 12px;
        text-transform: uppercase;
        padding: 16px 19px 12px;
        font-family: "Display";
        font-weight: bold;
        letter-spacing: 1px;

        &:after {
            content: '';

        }

        &:after {
            transition: all 1s;
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-right-style: solid;
            border-right-width: 2px;
            content: '';
            display: inline-block;
            height: 8px;
            top: 50%;
            width: 8px;
            position: absolute;
            left: 88%;
            transform: translateY(-70%) rotate(45deg);
        }

        &.active {
            &:after {
                transform: translateY(-70%) rotate(225deg);
            }
        }
    }

    .dropdown {
        padding: 0 15px 15px 15px;
        display: none;

        p {
            font-size: 12px;
            font-family: $font-3;
            padding: 0 0 15px;
            line-height: 18px;
        }
    }

    .btn {

        &:hover {
            color: $orange;
        }
    }
}

.block-breadscrums {
    margin: 9px 0;
}

.category-date {
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $font-2;
    font-weight: bold;
    letter-spacing: 1px;

    .category {
        padding-right: 20px;
        margin-right: 20px;
    }

    .date {
        margin-right: 20px;
    }
}

.icon-search {
    width: 21px;
    height: 21px;
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    display: inline-block;
    cursor: pointer;
}

.icon-user {
    width: 21px;
    height: 23px;
    background-image: url('../images/pictomember-off.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    display: inline-block;

    &.on {
        background-image: url('../images/pictomember-on.svg');
    }
}

.icon-bookmark {
    width: 11px;
    height: 17px;
    background-image: url('../images/bookmark.svg');
    background-repeat: no-repeat;
    background-size: 11px;
    display: inline-block;

    &.on {
        background-image: url('../images/bookmark-on.svg');
    }
}

.item {
    position: relative;

    &:hover {
        .hover-image {
            background-color: rgb(238, 0, 0);
            transition: all 0.15s ease-in 0s;
            opacity: .8;
        }
    }

    .image {
        img {
            mix-blend-mode: multiply;
        }
    }
}
.image {
    position: relative;
}

.full-link, .hover-image {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
}