.clearfix {
    @include clearfix;
}

body {
    color: $textcolor-1; //Default text color
    letter-spacing: normal; //Default letter spacing
    font-size: 16px; //Default font size
    line-height: 1.15; //Default line height
    font-weight: 400; //Default font-weight
    background: #fff; //Default background
    font-family: $font-1;
}

.title-large {
    font-size: 55px;
    line-height: 60px;
}

.title {
    font-size: 30px;
    line-height: 38px;
    font-family: $font-2;
}
.title-small {
    font-size: 14px;
    line-height: 17px;
}

.title-item {
    font-size: 16px;
    line-height: 20px;
}

.description {
    font-size: 16px;
    line-height: 20px;
}

.tag {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 15px;
    padding: 9px 15px;
    transition: all .3s;
}

.text-top-banner {
    font-size: 12px;
    line-height: 16px;
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
}

.center {
    text-align: center;
}

.box-newsletter {
    background-color: $orange;
    padding: 14px 15px;
    width: 280px;

    .title-dropdown {
        font-size: 12px;
        text-transform: uppercase;

        &:after {
            content: '';

        }
    }

    .dropdown {
        display: none;

        p {
            font-size: 12px;
            font-family: $font-3;
            padding: 15px 0;
        }
    }

    .btn {
        &:hover {
            color: $orange;
        }
    }
}

.block-breadscrums {
    margin: 15px 0;
}

.category-date {
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;

    .category {
        padding-right: 20px;
        margin-right: 20px;
    }

    .date {
        margin-right: 20px;
    }
}