#header {
    min-height: 80px;

    .wrapper-large {
        &.top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            border-bottom: 1px solid;
        }

        .left {
            display: flex;

            .icon-menu {
                display: inline-block;
            }

            img {
                display: inline-block;
            }
        }

        .right {
            display: flex;

            .icon-search-user {
                position: relative;
                margin-right: 40px;
                display: flex;

                .include-search {
                    display: flex;

                    .include-input-search {
                        overflow: hidden;
                        width: 180px;
                        position: relative;
                        .bootstrap-tagsinput {
                                width: 100% !important;
                                border-bottom: 0.5px solid $black;
                                transform: translateX(180px);
                                transition: all 1s;
                                min-height: 22px;

                            input {
                                position: absolute;
                            }
                        }
                        &.active {
                            .bootstrap-tagsinput {
                                transform: translateX(0);
                            }
                        }
                    }

                    img {
                        margin-right: 20px;
                    }

                }
                .search-result {
                    overflow: hidden;
                    position: absolute;
                    width: 330px;
                    left: -118px;
                    top: 35px;
                    .box {
                        background-color: $white;
                        transform: translateY(-377px);
                        transition: all 1s;
                        &.active {
                            transform: translateY(0);
                        }
                    }
                    .number {
                        position: absolute;
                        left: 115px;

                    }
                    .include-items {
                        padding: 60px 20px 20px;
                        .item {
                            display: flex;
                            margin-bottom: 10px;
                            .image {
                                margin-right: 10px;
                            }
                        }
                    }
                    .inlude-btn {
                        text-align: center;
                        margin-bottom: 10px;
                    }

                }

            }
        }

        .logo {
            display: block;
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
        }
    }
}