<footer id="footer">
    <div class="wrapper">
        <p class="title-small">nos dernières publications instagram</p>

        <div class="row list-instagram">
            <div class="col-2 item">
                <a href=""><img src="assets/images/image-footer1.png" alt=""></a>
            </div>
            <div class="col-2 item">
                <a href=""><img src="assets/images/image-footer2.png" alt=""></a>
            </div>
            <div class="col-2 item">
                <a href=""><img src="assets/images/image-footer3.png" alt=""></a>
            </div>
            <div class="col-2 item">
                <a href=""><img src="assets/images/image-footer4.png" alt=""></a>
            </div>
            <div class="col-2 item">
                <a href=""><img src="assets/images/image-footer5.png" alt=""></a>
            </div>
            <div class="col-2 item">
                <a href=""><img src="assets/images/image-footer6.png" alt=""></a>
            </div>
        </div>

        <div class="row bottom-footer">
            <div class="col-6 col-left">
                <div class="image">
                    <img src="assets/images/logo-homard.png" alt="">
                </div>
                <div class="info">
                    <p class="label">recommander à un ami</p>
                    <form action="#">
                        <div class="form-group">
                            <input type="text" placeholder="adresse e-mail">
                            <button>Envoyer</button>
                        </div>
                    </form>

                    <div class="social">
                        <p>retrouvez-nous:</p>
                        <ul>
                            <li>
                                <a href=""><i class="icon-instagram"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="icon-facebook"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="icon-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-6 col-right">
                <ul class="menu-footer">
                    <li>
                        <a href="">Mentions légales</a>
                    </li>
                    <li>
                        <a href="">Conditions générales de vente</a>
                    </li>
                    <li>
                        <a href="">Politique de confidentialité</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                </ul>

                <div class="copy-right">
                    <p>
                        Design Bepoles<br>
                        Développement MAD Studio<br>
                        ©2020 Les Hardis
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>