<header id="header">
   <div class="wrapper">
       <div class="left">

       </div>

       <a href="" class="logo">
           <img src="" alt="">
       </a>

       <div class="right">

       </div>
   </div>
</header>
