<header id="header">
   <div class="wrapper-large">
       <div class="left">
           <div class="icon-menu">
               <div class="bar"></div>
               <div class="bar"></div>
               <div class="bar"></div>
           </div>
       </div>

       <a href="" class="logo">
           <img src="" alt="">
       </a>

       <div class="right">

       </div>
       <div class="menu">
           <ul>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
           </ul>
           <ul>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
           </ul>
           <ul>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
           </ul>
           <ul>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
           </ul>
           <ul>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
           </ul>
           <ul>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
           </ul>
           <ul>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
               <li><a href="">Restaurants</a></li>
           </ul>
       </div>
   </div>
</header>
