<header id="header">
    <div class="wrapper-large top">
        <div class="left">
            <div class="icon-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <img src="assets/images/logo.png" alt="">
        </div>

        <a href="" class="logo">
            <img src="assets/images/logo-center.png" alt="">
        </a>

        <div class="right">
            <div class="icon-search-user">
                <div class="include-search">
                    <div class="include-input-search">
                        <input type="text" class="search-input form-control" value="" data-role="tagsinput" placeholder="Rechercher">
                    </div>
                    <span class="icon-search"></span>
                </div>
                <a href=""><i class="icon-user"></i></a>

                <div class="search-result">
                    <div class="box">
                        <div class="number">
                            <span>280 résultats</span>
                        </div>

                        <div class="include-items">
                            <div class="item">
                                <div class="image">
                                    <img src="assets/images/search1.png" alt="">
                                </div>
                                <div class="info">
                                    <p class="title-item">S'évader en confinement</p>
                                    <p class="description">7 films italiens à voir absolument</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="assets/images/search1.png" alt="">
                                </div>
                                <div class="info">
                                    <p class="title-item">Pastore, rue Bergère</p>
                                    <p class="description">La bistronomie à l’italienne</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="assets/images/search1.png" alt="">
                                </div>
                                <div class="info">
                                    <p class="title-item">Il me semble que Roger est en Italie</p>
                                    <p class="description">Les trésors de Rome en Automne</p>
                                </div>
                            </div>
                            <div class="inlude-btn">
                                <a class="btn" href="#">TOUT VOIR</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="language">
                <a href="#" class="active">FR</a>
                /
                <a href="#">EN</a>
            </div>
        </div>

    </div>
    <div class="include-menu">


        <div class="wrapper-large">
            <div class="menu">
                <ul>
                    <li><a href="#">Gastronomie</a></li>
                    <li><a href="#">Restaurants</a></li>
                    <li><a href="#">Bars</a></li>
                    <li class="active"><a href="#">Cuisine</a></li>
                    <li><a href="#">Vins</a></li>
                    <li><a href="#">Spiritueux</a></li>
                </ul>
                <ul>
                    <li><a href="#">Style de vie</a></li>
                    <li><a href="#">Vêtements</a></li>
                    <li><a href="#">Parfums</a></li>
                    <li><a href="#">Horlogerie</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Instant Hardi</a></li>
                </ul>
                <ul>
                    <li><a href="#">Culture</a></li>
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Cinéma</a></li>
                    <li><a href="#">Lectures</a></li>
                    <li><a href="#">Expositions</a></li>
                    <li><a href="#">Musique</a></li>

                </ul>
                <ul>
                    <li><a href="#">Voyage</a></li>
                    <li><a href="#">Destinations</a></li>
                    <li><a href="#">Week-ends</a></li>
                    <li><a href="#">Hôtels</a></li>
                    <li><a href="#">Chambres d’hôtes</a></li>
                    <li><a href="#">Aventure</a></li>
                    <li><a href="#">Road trip</a></li>

                </ul>
                <ul>
                    <li><a href="#">Garage</a></li>
                    <li><a href="#">Auto</a></li>
                    <li><a href="#">Moto</a></li>
                    <li><a href="#">Vélo</a></li>
                    <li><a href="#">Bateau</a></li>
                    <li><a href="#">Avion et hélico</a></li>
                    <li><a href="#">Vanlife</a></li>
                </ul>
                <ul>
                    <li><a href="#">Eros</a></li>

                </ul>
                <ul>
                    <li><a href="#">Dossiers</a></li>
                    <li><a href="#">Contributeurs</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
