<div class="banner-content" style="background-image: url('assets/images/banner-single.png');">
    <div class="center text-top-banner">
        <p class="white">dossier</p>
        <p class="white"><span class="day">10</span> mar. 2020</p>
    </div>
    <h2 class="title-large center white">Les dix meilleurs rallyes <br>à travers l’Europe</h2>
</div>