<div class="block-banner bg" style="background-image: url('assets/images/bg-post-detail.png')">
    <div class="wrapper-large">
        <div class="content">
            <h1 class="title-large white">
                Camille Guikas, <br>
                nouvelle figure <br>
                de l’automobile
            </h1>
        </div>
        <div class="category-date color-gastronomie">
            <p class="category">GARAGE</p>
            <p class="date"><span class="date">2</span>mai 2020</p>
        </div>
    </div>
</div>