<div class="block-banner small">
    <div class="wrapper bg"  style="background-image: url('assets/images/banner-single.png')">
        <div class="category-date color-gastronomie">
            <p class="category">dossier</p>
            <p class="date"><span class="date">10</span> mar. 2020</p>
        </div>

        <div class="content">
            <h1 class="title-large white">Les dix meilleurs rallyes <br>à travers l’Europe</h1>
        </div>
    </div>
</div>
