<div class="block-banner bg" style="background-image: url('assets/images/img.jpg')">
    <div class="wrapper">
        <div class="content">
            <h1 class="title-large">François Halard, un photographe mélancolique des lieux de vie</h1>
        </div>

        <div class="group-dropdown">
            <a href="">newsletter</a>

            <ul class="dropdown">
                <li><a href="">1</a></li>
                <li><a href="">1</a></li>
                <li><a href="">1</a></li>
                <li><a href="">1</a></li>
            </ul>
        </div>
    </div>
</div>