{#<div class="block-banner-small">#}
    {#<div class="wrapper">#}
        {#<div class="top-banner">#}
            {#<div class="logo">#}
                {#<img src="assets/images/script-mag.png" alt="">#}
            {#</div>#}

            {#<div class="box-newsletter custom-dropdown">#}
                {#<p class="title-dropdown">newsletter</p>#}
                {#<div class="dropdown">#}
                    {#<p>Le meilleur des Hardis tous les samedis dans votre boîte mail</p>#}
                    {#<a href="" class="btn">je m’abonne</a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        {#<div class="banner bg" style="background-image: url('assets/images/banner-single.png');">#}
            {#<div class="content">#}
                {#<h1 class="title-large white">François Halard, un photographe mélancolique des lieux de vie</h1>#}
            {#</div>#}
            {#<div class="date">#}
                {#<p class="white"><span>CULTURE</span>  |  <span>2</span> <span>MAI 2020</span></p>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}

<div class="block-banner small">
    <div class="wrapper bg"  style="background-image: url('assets/images/banner-post.jpg')">
        <div class="category-date color-gastronomie">
            <p class="category">dossier</p>
            <p class="date"><span class="date">10</span>fév. 2020</p>
        </div>

        <div class="content">
            <h1 class="title-large white">Les cinq meilleurs italiens de Paris</h1>
        </div>
    </div>
</div>
