<div class="block-banner bg" style="background-image: url('assets/images/image background-banner.jpg')">
    <div class="wrapper-large">
        <div class="content">
            <h1 class="title-large white">François Halard, un photographe mélancolique des lieux de vie</h1>
        </div>
        <div class="category-date color-gastronomie">
            <p class="category">culture</p>
            <p class="date"><span class="date">2</span>mai 2020</p>
        </div>

       <div class="box-newsletter custom-dropdown">
           <p class="title-dropdown">newsletter</p>
           <div class="dropdown">
               <p>Le meilleur des Hardis tous les samedis dans votre boîte mail</p>
               <a href="" class="btn">je m’abonne</a>
           </div>
       </div>
    </div>
</div>