<div class="block-breadcrumb">
    <div class="wrapper-large">
        <div class="include-breadcrumb">
            <ul class="white breadscrums ">
                <li><a href="#">HOME</a></li>
                <li><a href="#">GARAGE</a></li>
                <li><a href="#">CAMILLE GUIKAS</a></li>
            </ul>
        </div>

        <div class="box-newsletter custom-dropdown">
            <p class="title-dropdown">résumons</p>
            <div class="dropdown">
                <p>Le meilleur des Hardis tous les samedis dans votre boîte mail</p>
                <a href="" class="btn">je m’abonne</a>
            </div>
        </div>
    </div>
</div>