<div class="block-category">
    <div class="wrapper">
        <h2 class="title">Nos derniers articles</h2>
        <div class="wrap-tag">
            <div class="list-tag">
                <a href="" class="tag category-tous">tous</a>
                <a href="" class="tag category-gastronomie">gastronomie</a>
                <a href="" class="tag category-style-de-vie">style de vie</a>
                <a href="" class="tag category-culture">culture</a>
                <a href="" class="tag category-voyage">voyage</a>
                <a href="" class="tag category-garage">garage</a>
                <a href="" class="tag category-eros">eros</a>
            </div>
            <a href="" class="tag category-contributeurs">contributeurs</a>
        </div>
        <div class="include-items-category block-pour-vous">
            <div class="row">
                <div class="col-4 item">
                    <a href="#" class="full-link"></a>
                    <div class="image">
                        <img src="assets/images/Police02.png" alt="">
                    </div>
                    <div class="info">
                        <div class="category-date color-voyage">
                            <a href="" class="category">voyage</a>
                            <p><span class="date">22</span>mar. 2020</p>
                        </div>
                        <p class="title-articles">Slim Aarons</p>
                        <p class="description-articles">La French Riviera</p>
                    </div>
                </div>
                <div class="col-4 item">
                    <a href="#" class="full-link"></a>
                    <div class="image">
                        <img src="assets/images/item02.png" alt="">
                    </div>
                    <div class="info">
                        <div class="category-date color-gastronomie">
                            <a href="" class="category">Brasserie Rosie</a>
                            <p><span class="date">18</span>MAI 2020</p>
                        </div>

                        <p class="title-articles">Brasserie Rosie</p>
                        <p class="description-articles">Le tout-maison à la portée de tous</p>
                    </div>
                </div>
                <div class="col-4 item">
                    <a href="#" class="full-link"></a>
                    <div class="image">
                        <img src="assets/images/item03.png" alt="">
                    </div>
                    <div class="info">
                        <div class="category-date color-culture">
                            <a href="" class="category">CULTURE</a>
                            <p><span class="date">4</span>MAI 2020</p>
                        </div>

                        <p class="title-articles">Félix Marcilhac</p>
                        <p class="description-articles">Marchand d’art visionnaire</p>
                    </div>
                </div>
                <div class="col-4 item">
                    <a href="#" class="full-link"></a>
                    <div class="image">
                        <img src="assets/images/item04.png" alt="">
                    </div>
                    <div class="info">
                        <div class="category-date color-garage">
                            <a href="" class="category">garage</a>
                            <p><span class="date">16</span>MAR 2020</p>
                        </div>
                        <p class="title-articles">Rencontre avec Camille Guikas</p>
                        <p class="description-articles">Nouvelle figure de l’automobile</p>
                    </div>
                </div>
                <div class="col-4 item">
                    <a href="#" class="full-link"></a>
                    <div class="image">
                        <img src="assets/images/item05.png" alt="">
                    </div>
                    <div class="info">
                        <div class="category-date color-eros">
                            <a href="" class="category">eros</a>
                            <p><span class="date">15</span>MAR 2020</p>
                        </div>
                        <p class="title-articles">Nobuyoshi Araki</p>
                        <p class="description-articles">Obsession de l’intime</p>
                    </div>
                </div>
                <div class="col-4 item">
                    <a href="#" class="full-link"></a>
                    <div class="image">
                        <img src="assets/images/item06.png" alt="">
                    </div>
                    <div class="info">
                        <div class="category-date color-gastronomie">
                            <a href="" class="category">gastronomie</a>
                            <p><span class="date">15</span>MAR 2020</p>
                        </div>
                        <p class="title-articles">Boucherie Grégoire
                        </p>
                        <p class="description-articles">La boucherie de quartier reprend ses droits
                        </p>
                    </div>
                </div>
            </div>
            {% include '@blocks/banner-content.twig' %}
            <div class="row">
                <div class="col-4 item">
                    <a href="#" class="full-link"></a>
                    <div class="image">
                        <img src="assets/images/item07.png" alt="">
                    </div>
                    <div class="info">
                        <div class="category-date color-voyage">
                            <a href="" class="category">voyage</a>
                            <p><span class="date">12</span>MAR 2020</p>
                        </div>
                        <p class="title-articles">Liu Xiadong</p>
                        <p class="description-articles">Ses peintures d’Afrique du Sud</p>
                    </div>
                </div>
                <div class="col-4 item">
                    <a href="#" class="full-link"></a>
                    <div class="image">
                        <img src="assets/images/item08.png" alt="">
                    </div>
                    <div class="info">
                        <div class="category-date color-culture">
                            <a href="" class="category">culture</a>
                            <p><span class="date">12</span>MAR 2020</p>
                        </div>
                        <p class="title-articles">Luke Edward Hall</p>
                        <p class="description-articles">L’enfant terrible de la couleur</p>
                    </div>
                </div>
                <div class="col-4 item">
                    <a href="#" class="full-link"></a>
                    <div class="image">
                        <img src="assets/images/item09.png" alt="">
                    </div>
                    <div class="info">
                        <div class="category-date color-style-de-vie">
                            <a href="" class="category">style de vie</a>
                            <p><span class="date">8</span>MAR 2020</p>
                        </div>
                        <p class="title-articles">American way of life</p>
                        <p class="description-articles">Ne touchez plus à la chemise col boutonné</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <ul>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">20</a></li>
                <li><a href="#">30</a></li>
                <li><a href="#">40</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">56</a></li>
                <li><a href="#">57</a></li>
                <li><a href="#">58</a></li>
                <li><a href=""><img src="assets/images/shrimp.png" alt=""></a></li>

            </ul>
            <div class="image-right">
                <img src="assets/images/logo-homard.png" alt="">
            </div>
        </div>
    </div>
</div>