<div class="block-category">
    <div class="wrapper">
        <div class="wrap-tag">
            <div class="list-tag">
                <a href="" class="tag category-tous">tous</a>
                <a href="" class="tag category-gastronomie">gastronomie</a>
                <a href="" class="tag category-style-de-vie">style de vie</a>
                <a href="" class="tag category-culture">culture</a>
                <a href="" class="tag category-voyage">voyage</a>
                <a href="" class="tag category-garage">garage</a>
                <a href="" class="tag category-eros">eros</a>
            </div>
            <a href="" class="tag category-contributeurs">contributeurs</a>
        </div>
        <div class="include-items-category block-pour-vous">
            <div class="row">
                <div class="col-4 item">
                    <div class="image">
                        <img src="assets/images/Police02.png" alt="">
                    </div>
                    <div class="info">
                        <p class="tag blue"><span>CULTURE</span> | <span>4</span> <span>MAI 2020</span></p>
                        <p class="title-item">Le voyeurisme</p>
                        <p class="description">Cinq films à mater en douce</p>
                    </div>
                </div>
                <div class="col-4 item">
                    <div class="image">
                        <img src="assets/images/item02.png" alt="">
                    </div>
                    <div class="info">
                        <p class="tag yellow"><span>CULTURE</span> | <span>4</span> <span>MAI 2020</span></p>
                        <p class="title-item">Le voyeurisme</p>
                        <p class="description">Cinq films à mater en douce</p>
                    </div>
                </div>
                <div class="col-4 item">
                    <div class="image">
                        <img src="assets/images/item03.png" alt="">
                    </div>
                    <div class="info">
                        <p class="tag orange"><span>CULTURE</span> | <span>4</span> <span>MAI 2020</span></p>
                        <p class="title-item">Le voyeurisme</p>
                        <p class="description">Cinq films à mater en douce</p>
                    </div>
                </div>
                <div class="col-4 item">
                    <div class="image">
                        <img src="assets/images/item04.png" alt="">
                    </div>
                    <div class="info">
                        <p class="tag blue"><span>CULTURE</span> | <span>4</span> <span>MAI 2020</span></p>
                        <p class="title-item">Le voyeurisme</p>
                        <p class="description">Cinq films à mater en douce</p>
                    </div>
                </div>
                <div class="col-4 item">
                    <div class="image">
                        <img src="assets/images/item05.png" alt="">
                    </div>
                    <div class="info">
                        <p class="tag yellow"><span>CULTURE</span> | <span>4</span> <span>MAI 2020</span></p>
                        <p class="title-item">Le voyeurisme</p>
                        <p class="description">Cinq films à mater en douce</p>
                    </div>
                </div>
                <div class="col-4 item">
                    <div class="image">
                        <img src="assets/images/item06.png" alt="">
                    </div>
                    <div class="info">
                        <p class="tag orange"><span>CULTURE</span> | <span>4</span> <span>MAI 2020</span></p>
                        <p class="title-item">Le voyeurisme</p>
                        <p class="description">Cinq films à mater en douce</p>
                    </div>
                </div>
            </div>
            {% include '@blocks/banner-content.twig' %}
            <div class="row">
                <div class="col-4 item">
                    <div class="image">
                        <img src="assets/images/item07.png" alt="">
                    </div>
                    <div class="info">
                        <p class="tag blue"><span>CULTURE</span> | <span>4</span> <span>MAI 2020</span></p>
                        <p class="title-item">Le voyeurisme</p>
                        <p class="description">Cinq films à mater en douce</p>
                    </div>
                </div>
                <div class="col-4 item">
                    <div class="image">
                        <img src="assets/images/item08.png" alt="">
                    </div>
                    <div class="info">
                        <p class="tag yellow"><span>CULTURE</span> | <span>4</span> <span>MAI 2020</span></p>
                        <p class="title-item">Le voyeurisme</p>
                        <p class="description">Cinq films à mater en douce</p>
                    </div>
                </div>
                <div class="col-4 item">
                    <div class="image">
                        <img src="assets/images/item09.png" alt="">
                    </div>
                    <div class="info">
                        <p class="tag orange"><span>CULTURE</span> | <span>4</span> <span>MAI 2020</span></p>
                        <p class="title-item">Le voyeurisme</p>
                        <p class="description">Cinq films à mater en douce</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <ul>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">20</a></li>
                <li><a href="#">30</a></li>
                <li><a href="#">40</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">56</a></li>
                <li><a href="#">57</a></li>
                <li><a href="#">58</a></li>
                <li><a href=""><img src="assets/images/shrimp.png" alt=""></a></li>

            </ul>
            <div class="image-right">
                <img src="assets/images/logo-homard.png" alt="">
            </div>
        </div>
    </div>
</div>