<div class="content-post">
    <div class="wrapper-content">
        <p>Fusce dapibus, tellus ac cursus commodo</p>

        <p>GTC vient du nom d’un modèle de Ferrari, la 330 GTC, voiture de la
            fin des années 1960 qu’affectionnait tout particulièrement mon
            père, qui est à l’origine de cette société d’achat et vente d’automobiles
            de collection et de course d’exception.</p>
        <p class="left">Camille, peux-tu nous raconter l’histoire de GTC? À commencer par ce nom…</p>

        <p>Cette année, on fête nos 30 ans ! C’est mon père, passionné d’automobile, qui a décidé de se lancer dans le business quand il avait une trentaine d’années après avoir travaillé dix ans dans le milieu maritime à Marseille. Il a donc commencé par acheter une première voiture avec ses
            économies et il l’a bien revendue, ce qui lui a permis d’en acheter une plus
            importante et ainsi de suite…</p>
        <p class="left">Parle nous de l’histoire de cette collection, comment s’est-elle formée ?</p>
        <p>Ses acquisitions et ventes successives lui ont permis
            d’améliorer la qualité de son stock au fil des années. Il a commencé cette aventure en 1989, c’était un moment assez favorable pour les voitures de collection, même si par la suite il y a eu une grosse crise dans les années 1990, il s’est accroché et a persévéré. Je suis née deux ans plus tard, et on a rapidement installé mon maxi cosy dans une voiture de sport… A la sortie de la maternité, on est tous rentrés en Golf GTI : j’ai donc littéralement grandi au milieu de tout cela.
        </p>
        <p>Quand il a été question de mon orientation professionnelle,
            j’ai commencé par des études en droit, car j’étais très attirée par
            la profession de commissaire-priseur. J’ai fait quelques stages en maison
            de ventes aux enchères, puis je me suis dirigée vers des études de commerce
            que j’ai choisi de faire en alternance car j’avais très envie de travailler,
            et, dès mes 20 ans, j’ai intégré la structure familiale. C’était une évidence.</p>
        <img src="assets/images/content-post.png" alt="">

        <p>Oui, vraiment. Tous les dimanches matins, on avait d’ailleurs un petit rituel tous les deux : on partait de Cassis, on prenait la Gineste pour aller au bureau de mon père qui se trouvait à Marseille et on sortait une voiture qu’on nettoyait. C’était très méthodique : on avait un seau, une éponge, du mir laine, on la lavait, puis on la séchait avec une peau de chamois et on rentrait avec, c’était une tradition que j’adorais. J’observais comment mon père passait
            les vitesses sur la route, comment il faisait le talon pointe, j’essayais
            de comprendre les mécanismes…</p>
        <p class="left">On imagine volontiers que ton quotidien, enfant, était rythmé par la passion dévorante de ton papa…</p>
        <p>Et puis j’adorais fréquenter les circuits, aller aux 100 GT, aux réunions
            du Club Ferrari France. J’ai des souvenirs précis de mon père qui faisait pas mal
            de courses avec des voitures anciennes à la fin des années 1990, et je me souviens parfaitement
            que j’éprouvais une forme de tristesse
            à la fin de la saison, il ne me tardait qu’une chose : que les courses recommencent</p>
        <img class="image-full" src="assets/images/content-post2.png" alt="">
        <p>Fusce dapibus, tellus ac cursus commodo</p>
        <p>J’ai toujours eu la curiosité d’apprendre. J’ai toujours lu Classic & Sports Car, Sport Auto et j’ai toujours regardé Auto-Moto le dimanche matin… les Grands Prix de Formule 1, c’était aussi une tradition, et ça l’est encore aujourd’hui. Quand j’allais sur les courses, j’observais le mécanicien, quand il fallait purger les freins, c’était moi au volant qui appuyais sur la pédale. Je n’ai pas été le genre de petite fille qui jouait à la poupée, je faisais plutôt des simulations de circuits sur
            mon tapis de jeu. Aussi plus tard, je n’ai pas eu peur de mettre les mains dans le cambouis…</p>
        <p class="left">Comment intègre-t-on ce genre de société spécialisée en
            automobile? On se forme en mécanique? En pilotage?
        </p>
        <p>En 2012, avec mon amie d’enfance Marie, on a décidé de se lancer et nous voilà parties pour trouver une voiture, la préparer et trouver des sponsors pour couvrir tous les frais nécessaires. On est parties une dizaine de jours depuis Marseille jusqu’à Marrakech. On a fait quelque chose comme 6000km, à 20 ans, ça forge ! Le soir tu dois faire les petites réparations sur
            ta voiture toi-même, nettoyer les carbus etc… C’était une bonne école pour commencer !</p>
        <p class="left">D’ailleurs pour la petite anecdote
            il me semble que tu as participé au
            4L Trophy?</p>
        <p>Pour mes 22 ans, on m’a offert un stage en monoplace au circuit du Luc chez Zigzag. On te met au volant d’une monoplace, tu fais plusieurs séquences d’une dizaine de tours et tu as des instructeurs qui corrigent ta conduite au fil de
            la journée. Assez efficace pour se familiariser aux bonnes règles du pilotage.</p>
        <p class="left">Et par la suite il me semble que tu t’es un peu essayé au pilotage également?</p>
        <p>J’ai eu l’immense chance de conduire sur le circuit Paul Ricard et sur le Circuit du Mans une Ferrari
            de Course de 2006 qui est une 430 GTC… On revient toujours à GTC finalement !</p>
        <p class="left">A ce sujet, quelle est la voiture la plus impressionnante que tu aies conduite?</p>
        <p>On ne se concentre pas sur une époque particulière : on a des voitures des années 1930 jusqu‘à 2015, pour la plus récente. Mais toutes sont choisies en fonction de plusieurs critères auxquels on ne déroge jamais, et c’est ce qui crée notre identité. On choisit des voitures authentiques, rares, voire uniques pour certaines. Elles ont toutes une histoire, soit qu’elles aient appartenues à une personnalité notable, soit qu’elles aient fait une belle carrière sportive pour les voitures de courses ou qu’elles aient été carrossées par un designer prestigieux de l’époque. Par exemple, on a une Ferrari Daytona Groupe 4 qui a été conduite par Paul Newman, et qui a fini 5eme aux 24H de Daytona en 1977, ou encore l’ISO A3C qui avait été achetée neuve par Johnny Hallyday, ou encore une Alfa Roméo de 1939 qui a été carrossée
            à la demande de son propriétaire par Pininfarina qui a une carrosserie unique.</p>
        <p class="left">Tu peux nous en dire un peu plus sur la composition de cette
            collection GTC, comment se passent les acquisitions des automobiles que vous possédez?</p>
        <img  src="assets/images/content-post3.png" alt="">
        <p>Oui, les ventes aux enchères rythment nos déplacements au cours de l’année. Elles sont un moyen de sourcer les voitures, parfois de vendre les nôtres lorsqu’une bonne opportunité se présente,
            et elles sont aussi un bon indicateur du marché, je suis donc tout cela avec une grande attention.</p>
        <p class="left">J’imagine que vous suivez les ventes aux enchères portant sur cette spécialité ?</p>
        <p>En février, on ne déroge jamais au salon Rétromobile à Paris, durant lequel plusieurs ventes aux enchères sont organisées. Nous allons aussi la Villa d’Este à Côme au mois de mai où il y a une vente aux enchères adossée à un très prestigieux concours d’élégance. Et tous les étés, nous partons en famille, mon père, mes sœurs et moi, à Monterey, en Californie, où se déroulent les plus importantes
            ventes aux enchères mondiales de l’année et où a lieu le concours d’élégance de Pebble Beach.</p>
        <p>Plutôt bien… On connaît en ce moment une période de rééquilibrage, la cote de certaines voitures avait explosé sans raison particulière entre 2012 et 2015. Jusqu’à récemment, on parlait beaucoup de la cote de l’art, des bijoux ou encore des vins mais les voitures de collection représentaient un milieu considéré comme opaque, une sorte de niche qui s’est un peu démocratisée parce qu’on a commencé
            à plus communiquer, notamment avec des résultats de vente qui ont attiré l’attention du public.</p>
        <p class="left">D’ailleurs, comment se porte le marché de l’automobile de collection actuellement ?</p>
        <p>Et puis il y a aussi un effet de mode… Des études ont prouvé que la cote des voitures de collection avait pris 400% en dix ans et battait l’art et le mobilier. Cette perspective d’investissement a attiré une nouvelle forme de collectionneur, soucieux de bien placer son argent et de se faire plaisir grâce à l’acquisition de quelque chose de beau, utile et quelque part, visible, aussi… Actuellement, les choses se stabilisent un peu. Je pense qu’il faut garder à l’esprit que lorsque l’on achète une voiture de collection, c’est avant tout une démarche de passionné ; pas d’investisseur. Mais globalement, les voitures importantes et exceptionnelles se portent très bien,
            les plus modestes un peu moins. C’est un marché qui se divise vraiment en deux catégories.</p>
        <p>Fusce dapibus, tellus ac cursus commodo</p>
        <p>Si je gagnais beaucoup d’argent, je serais toujours tentée d’acheter une belle voiture avant toute chose, mais considérant l’investissement que représente
            une voiture de collection, j’ai dû élargir mes centres d’intérêt à d’autres domaines ! </p>
        <p class="left">D’ailleurs, comment se porte le marché de l’automobile de collection actuellement ?</p>
        <p>Plus sérieusement, j’ai toujours été sensible à l’art sous toutes ses formes, je suis avec attention la programmation de certaines galeries marseillaises, comme celle de mon ami Nicolas Veidig qui a fondé il y a deux ans Double V Gallery, mais aussi dans un autre registre la galerie Pentcheff qui propose des œuvres plus traditionnelles avec une belle sélection de peintures des XIXe et XXe siècles. Je ne manque pas de fréquenter les Puces dès que je passe par Paris pour tenter de dénicher une perle design. J’aime aussi beaucoup les montres, j’ai ma petite collection; et il ne se passe d’ailleurs pas un jour sans que j’en porte ! C’est le bijou qui ne me quitte pas. Et puis, toute confession faite, je reste aussi une vraie fille qui de temps en temps craque pour une
            belle pièce chez Jogging, le concept store marseillais fondé par le photographe Olivier Amsellem…</p>
        <p>Ce milieu est quand même assez … vieillissant. Mais il y a quelques jeunes personnes qui font un peu bouger
            les choses, de jeunes marchands qui donnent un nouveau souffle à ce métier. Pour moi, la personne qui
            incarne cela est Arthur Karakoumouchian de l’Art de l’Automobile. C’est un marchand de voitures haut de
            gamme et de collection basé à Paris. Il a également lancé sa marque de produits et de prêt-à-porter sur le thème
            de l’automobile ; j’aime beaucoup ce qu’il fait, ce qu’il ose.</p>
        <p class="left">Quelle est la nouvelle génération qui fait le monde de l’automobile aujourd’hui,
            quelles sont ses nouvelles figures ?</p>
        <img  src="assets/images/content-post4.png" alt="">
        <p>Évidemment. C’est un moyen de communication à part entière, qu’il a fallu intégrer à
            notre métier. Et puisque les voitures de collection sont très photogéniques,
            c’est vraiment un très bon outil. Je suis en train d’utiliser nos archives photographiques
            à travers un compte sur lequel je poste ces photos d’époque. J’adore la photographie de manière
            générale et j’ai retrouvé quelques clichés vraiment beaux, plein de nostalgie, que j’ai plaisir à
            partager sur le compte @classiccarchives.</p>
        <p class="left">Et puis il y a également l’influence des réseaux sociaux qui permettent une large diffusion de
            monde un peu confidentiel… Je pense notamment à Instagram</p>
        <p>A la fin du mois de mai, nous allons à Como en Italie, au concours d’élégance dans cet endroit sublime et mythique qu’est la Villa d’Este. Pendant trois jours, on y croise les plus belles voitures, les plus beaux Riva… c’est une ambiance vraiment magique. Il y aura aussi une vente aux enchères organisée par RM Sotheby’s. À la fin du mois de juin, nous allons à Monaco pour la première édition d’un concours d’élégance organisé par l’ACM (Automobile Club de Monaco ndlr) et entre ces deux événements, nous serons aux 24 Heures du Mans où nous avons engagé une voiture (une 488 GTE) dans la catégorie LM GTE Pro, qui sera gérée par le team Américain Risi Competizione.</p>
        <p class="left">Quels sont les prochains événements liés à cette spécialité ?</p>
        <p>Nous avons organisé un concours au sein de l’école parisienne ENSAAMA, où les étudiants nous proposent différents projets de décoration aux design divers, en fonction d’un cahier des charges assez précis. Un jury va choisir la meilleure proposition et notre voiture sera ainsi une Art Car, comme à l’époque des BMW Warhol, Calder et les autres… Elle sera unique. C’est la première fois que je vais assister à cette course, et le
            fait que notre voiture y participe rend la chose d’autant plus excitante !</p>
        <p>Une Ferrari 275 GTB, qui réunit pour moi toutes les qualités que doit avoir une voiture de collection.
            Elle est rare, mythique, a une ligne extraordinaire, est sportive et élégante.</p>
        <p class="left">Si tu ne devais choisir qu’une voiture, laquelle serait-elle ?</p>
        <p>J.      C.</p>
    </div>

</div>