<div class="block-shop-event">
    <div class="wrapper">
        <h2 class="center">EVENT</h2>
        <div class="row">
            <div class="col-3">
                <div class="item">
                    <div class="image"><img src="assets/images/event01.png" alt=""></div>
                    <div class="info">
                        <p class="title-item">Soirée d’avant-première</p>
                        <p class="price description">VIP Rétromobile</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="item">
                    <div class="image"><img src="assets/images/event02.png" alt=""></div>
                    <div class="info">
                        <p class="title-item">Projection privée</p>
                        <p class="price description">James Bond: No time to die</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="item">
                    <div class="image"><img src="assets/images/event04.png" alt=""></div>
                    <div class="info">
                        <p class="title-item">Rallye de 1000km, Auvergne</p>
                        <p class="price description">Voitures classiques</p>
                    </div>

                </div>
            </div>
            <div class="col-3">
                <div class="item">
                    <div class="image"><img src="assets/images/event05.png" alt=""></div>
                    <div class="info">
                        <p class="title-item">Rallye des légendes Richard Mille</p>
                        <p class="price description">Le tourisme en grand</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>