<div class="block-list-post">
    <div class="wrapper">
        <div class="list-item">
            <div class="item">
                <div class="image">
                    <img src="assets/images/image-footer1.png" alt="">
                </div>

                <div class="info">
                    <div class="icon-right">
                        <a href=""><i class="icon-instagram"></i></a>
                    </div>
                    <p class="title">Marcore, à l’Étage</p>
                    <p class="sub-title">La gastronomie de Marc Favier prend son envol</p>

                    <div class="description">
                        <p>On avait croisé le chef Marc Favier et sa femme Aurélie chez Bouillon, un très beau bistrot
                            du haut 9ème. Après 5 années de bons et loyaux services, les voici animés d’une nouvelle
                            ambition chez Marcore, une table à double jeu, bistrot en bas, gastro en haut. Accompagné
                            d’une si jolie femme, je ne pouvais que monter à l’Étage. Récit d’une soirée parfaite.</p>
                    </div>

                    <p class="author">Par Thierry Richard</p>

                    <div class="category-date color-gastronomie">
                        <p class="category">gastronomie</p>
                        <p class="date"><span class="date">10</span>fév. 2020</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="image">
                    <img src="assets/images/image-footer1.png" alt="">
                </div>

                <div class="info">
                    <div class="icon-right">
                        <a href=""><i class="icon-instagram"></i></a>
                    </div>
                    <p class="title">Marcore, à l’Étage</p>
                    <p class="sub-title">La gastronomie de Marc Favier prend son envol</p>

                    <div class="description">
                        <p>On avait croisé le chef Marc Favier et sa femme Aurélie chez Bouillon, un très beau bistrot
                            du haut 9ème. Après 5 années de bons et loyaux services, les voici animés d’une nouvelle
                            ambition chez Marcore, une table à double jeu, bistrot en bas, gastro en haut. Accompagné
                            d’une si jolie femme, je ne pouvais que monter à l’Étage. Récit d’une soirée parfaite.</p>
                    </div>

                    <p class="author">Par Thierry Richard</p>

                    <div class="category-date color-gastronomie">
                        <p class="category">gastronomie</p>
                        <p class="date"><span class="date">10</span>fév. 2020</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="image">
                    <img src="assets/images/image-footer1.png" alt="">
                </div>

                <div class="info">
                    <div class="icon-right">
                        <a href=""><i class="icon-instagram"></i></a>
                    </div>
                    <p class="title">Marcore, à l’Étage</p>
                    <p class="sub-title">La gastronomie de Marc Favier prend son envol</p>

                    <div class="description">
                        <p>On avait croisé le chef Marc Favier et sa femme Aurélie chez Bouillon, un très beau bistrot
                            du haut 9ème. Après 5 années de bons et loyaux services, les voici animés d’une nouvelle
                            ambition chez Marcore, une table à double jeu, bistrot en bas, gastro en haut. Accompagné
                            d’une si jolie femme, je ne pouvais que monter à l’Étage. Récit d’une soirée parfaite.</p>
                    </div>

                    <p class="author">Par Thierry Richard</p>

                    <div class="category-date color-gastronomie">
                        <p class="category">gastronomie</p>
                        <p class="date"><span class="date">10</span>fév. 2020</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="image">
                    <img src="assets/images/image-footer1.png" alt="">
                </div>

                <div class="info">
                    <div class="icon-right">
                        <a href=""><i class="icon-instagram"></i></a>
                    </div>
                    <p class="title">Marcore, à l’Étage</p>
                    <p class="sub-title">La gastronomie de Marc Favier prend son envol</p>

                    <div class="description">
                        <p>On avait croisé le chef Marc Favier et sa femme Aurélie chez Bouillon, un très beau bistrot
                            du haut 9ème. Après 5 années de bons et loyaux services, les voici animés d’une nouvelle
                            ambition chez Marcore, une table à double jeu, bistrot en bas, gastro en haut. Accompagné
                            d’une si jolie femme, je ne pouvais que monter à l’Étage. Récit d’une soirée parfaite.</p>
                    </div>

                    <p class="author">Par Thierry Richard</p>

                    <div class="category-date color-gastronomie">
                        <p class="category">gastronomie</p>
                        <p class="date"><span class="date">10</span>fév. 2020</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-recently">
            <div class="top-recently">
                <a href="" class="item">
                    <img src="assets/images/shrimp.png" alt="">
                    <span>dossier précédent</span>
                </a>

                <a href="" class="item">
                    <span>dossier suivant</span>
                    <img src="assets/images/shrimp.png" alt="">
                </a>
            </div>
            <div class="list-item-recently">
                <div class="item">
                    <div class="image">
                        <img src="assets/images/image-footer1.png" alt="">
                    </div>
                    <div class="description">
                        <p>pLes dix meilleurs rallyes à travers l’Europe</p>
                        <span class="icon-instagram"></span>
                    </div>
                </div>

                <div class="item">
                    <div class="image">
                        <img src="assets/images/image-footer1.png" alt="">
                    </div>
                    <div class="description">
                        <p>pLes dix meilleurs rallyes à travers l’Europe</p>
                        <span class="icon-instagram"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>