<div class="post-recently">
    <div class="wrapper-small">
        <div class="top-recently">
            <a href="" class="item">
                <img src="assets/images/shrimp.png" alt="">
                <span>dossier précédent</span>
            </a>

            <a href="" class="item">
                <span>dossier suivant</span>
                <img src="assets/images/shrimp.png" alt="">
            </a>
        </div>
        <div class="list-item-recently">
            <div class="item">
                <div class="image">
                    <img src="assets/images/Police02.png" alt="">
                </div>
                <div class="description">
                    <p>pLes dix meilleurs rallyes à travers l’Europe</p>
                    <span class="icon-bookmark"></span>
                </div>
            </div>

            <div class="item">
                <div class="image">
                    <img src="assets/images/beach.jpg" alt="">
                </div>
                <div class="description">
                    <p>pLes dix meilleurs rallyes à travers l’Europe</p>
                    <span class="icon-bookmark"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-shop-event post">
    <div class="wrapper">
        <div class="image-text shop">
            <img src="assets/images/shop.png" alt="">
        </div>

        <div class="row">
            <div class="col-3 item">
                <a href="#" class="full-link"></a>
                <div class="image"><img src="assets/images/shop01.png" alt=""></div>
                <div class="info">
                    <p class="title-item">Couvre-chef brodé</p>
                    <p class="price description">55€</p>
                </div>
            </div>

            <div class="col-3 item">
                <a href="#" class="full-link"></a>
                <div class="image"><img src="assets/images/shop02.png" alt=""></div>
                <p class="title-item">Écusson</p>
                <p class="price description">22€</p>
            </div>

            <div class="col-3 item">
                <a href="#" class="full-link"></a>
                <div class="image"><img src="assets/images/shop03.png" alt=""></div>
                <p class="title-item">Zippo</p>
                <p class="price description">75€</p>
            </div>

            <div class="col-3 item">
                <a href="#" class="full-link"></a>
                <div class="image"><img src="assets/images/shop04.png" alt=""></div>
                <div class="info">
                    <p class="title-item">Sapin magique</p>
                    <p class="price description">15€</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-pour-vous post">
    <div class="wrapper-small">
        <h3 class="title-small center">sélectionnés pour vous</h3>
        <div class="row">
            <div class="col-4 item">
                <a href="#" class="full-link"></a>
                <div class="image">
                    <img src="assets/images/item10.png" alt="">
                </div>
                <div class="info">
                    <div class="category-date color-culture">
                        <a href="" class="category">culture</a>
                        <p><span class="date">4</span>MAI 2020</p>
                    </div>
                    <p class="title-item">Le voyeurisme</p>
                    <p class="description">Cinq films à mater en douce</p>
                </div>
            </div>
            <div class="col-4 item">
                <a href="#" class="full-link"></a>
                <div class="image">
                    <img src="assets/images/item11.png" alt="">
                </div>
                <div class="info">
                    <div class="category-date color-garage">
                        <a href="" class="category">garage</a>
                        <p><span class="date">8</span>MAI 2020</p>
                    </div>
                    <p class="title-item">Pastore, rue Bergère</p>
                    <p class="description">La bistronomie à l'italienne</p>
                </div>
            </div>
            <div class="col-4 item">
                <a href="#" class="full-link"></a>
                <div class="image">
                    <img src="assets/images/item12.png" alt="">
                </div>

                <div class="info">
                    <div class="category-date color-culture">
                        <a href="" class="category">culture</a>
                        <p><span class="date">1</span>MAI 2020</p>
                    </div>
                    <p class="title-item">François Halard</p>
                    <p class="description">Photographe mélancolique…</p>
                </div>
            </div>
        </div>

    </div>
</div>