<div class="block-top-info-post">
    <div class="wrapper-small">
        <div class="top">
            <p class="name">GARAGE</p>
            <div class="title-box">
                <p class="title">Camille Guikas </p>
                <p class="sub-title">Nouvelle figure de l’automobile</p>
            </div>

            </p>
            <p class="date"><span>17</span> <span>AVR.2020</span></p>
            <p class="top-social">Écrit par Johanna Colombatti</p>
            <ul class="social">
                <li>
                    <a href=""><i class="icon-facebook"></i></a>
                </li>
                <li>
                    <a href=""><i class="icon-twitter"></i></a>
                </li>
                <li>
                    <a href=""><i class="icon-in"></i></a>
                </li>
                <li>
                    <a href=""><i class="icon-instagram"></i></a>
                </li>
                <li>
                    <a href=""><i class="icon-mail"></i></a>
                </li>
            </ul>
            <div class="excerpt ">
                <p>Elle est jeune, passionnée de courses automobiles et de vitesse, elle a grandi entre les circuits et les concours d’élégance aux côtés de son père, le marchand Jean Guikas, fondateur de GTC, l’une des plus importantes collections de voitures anciennes et de course au monde. Rencontre avec Camille, étonnante nouvelle figure de
                    ce monde décidément pas comme les autres des marchands d’automobiles de collection…</p>
            </div>
        </div>
    </div>
</div>