<div class="block-pour-vous grey">
    <div class="wrapper-small">
        <h3 class="title-small center">nos derniers articles</h3>
        <div class="row">
            <div class="col-4 item">
                <a href="#" class="full-link"></a>
                <div class="image">
                    <img src="assets/images/p1.jpg" alt="">
                </div>
                <div class="info">
                    <div class="category-date color-garage">
                        <a href="" class="category">garage</a>
                        <p><span class="date">8</span>mar. 2020</p>
                    </div>
                    <p class="title-item">Amaury Laparra</p>
                    <p class="description">Le vexin sans pneus neige</p>
                </div>
            </div>
            <div class="col-4 item">
                <a href="#" class="full-link"></a>
                <div class="image">
                    <img src="assets/images/p2.jpg" alt="">
                </div>
                <div class="info">
                    <div class="category-date color-style-de-vie">
                        <a href="" class="category">style de vie</a>
                        <p><span class="date">9</span>mar. 2020</p>
                    </div>
                    <p class="title-item">Amaury Laparra</p>
                    <p class="description">Le vexin sans pneus neige</p>
                </div>
            </div>
            <div class="col-4 item">
                <a href="#" class="full-link"></a>
                <div class="image">
                    <img src="assets/images/p3.jpg" alt="">
                </div>
                <div class="info">
                    <div class="category-date color-garage">
                        <a href="" class="category">garage</a>
                        <p><span class="date">10</span>mar. 2020</p>
                    </div>
                    <p class="title-item">Facel Vega</p>
                    <p class="description">Le who’s who</p>
                </div>
            </div>
        </div>

    </div>
</div>