<div class="block-pour-vous">
    <div class="wrapper-small">
        <h3 class="title-small center">sélectionnés pour vous</h3>
        <div class="row">
            <div class="col-4 item">
                <a href="#" class="full-link"></a>
                <div class="image">
                    <img src="assets/images/item10.png" alt="">
                </div>
                <div class="info">
                    <div class="category-date color-culture">
                        <a href="" class="category">culture</a>
                        <p><span class="date">4</span>MAI 2020</p>
                    </div>
                    <p class="title-item">Le voyeurisme</p>
                    <p class="description">Cinq films à mater en douce</p>
                </div>
            </div>
            <div class="col-4 item">
                <a href="#" class="full-link"></a>
                <div class="image">
                    <img src="assets/images/item11.png" alt="">
                </div>
                <div class="info">
                    <div class="category-date color-garage">
                        <a href="" class="category">garage</a>
                        <p><span class="date">4</span>MAI 2020</p>
                    </div>
                    <p class="title-item">Pastore, rue Bergère</p>
                    <p class="description">La bistronomie à l'italienne</p>
                </div>
            </div>
            <div class="col-4 item">
                <a href="#" class="full-link"></a>
                <div class="image">
                    <img src="assets/images/item12.png" alt="">
                </div>
                <div class="info">
                    <div class="category-date color-culture">
                        <a href="" class="category">culture</a>
                        <p><span class="date">1</span>MAI 2020</p>
                    </div>
                    <p class="title-item">François Halard</p>
                    <p class="description">Photographe mélancolique…</p>
                </div>
            </div>
        </div>

    </div>
</div>