<div class="block-pour-vous">
    <div class="wrapper-small">
        <h3 class="title-small center">sélectionnés pour vous</h3>
        <div class="row">
            <div class="col-4 item">
                <div class="image">
                    <img src="assets/images/img.jpg" alt="">
                </div>
                <div class="info">
                    <p class="tag"><span>CULTURE</span> | <span>4</span> <span>MAI 2020</span></p>
                    <p class="title-item">Le voyeurisme</p>
                    <p class="description">Cinq films à mater en douce</p>
                </div>
            </div>
            <div class="col-4 item">
                <div class="image">
                    <img src="assets/images/img.jpg" alt="">
                </div>
                <div class="info">
                    <p class="tag"><span>CULTURE</span> | <span>4</span> <span>MAI 2020</span></p>
                    <p class="title-item">Pastore, rue Bergère</p>
                    <p class="description">La bistronomie à l'italienne</p>
                </div>
            </div>
            <div class="col-4 item">
                <div class="image">
                    <img src="assets/images/img.jpg" alt="">
                </div>
                <div class="info">
                    <p class="tag"><span>CULTURE</span> | <span>4</span> <span>MAI 2020</span></p>
                    <p class="title-item">François Halard</p>
                    <p class="description">Photographe mélancolique…</p>
                </div>
            </div>
        </div>

    </div>
</div>