<div class="block-shop-event post-list">
    <div class="wrapper">
        <h3 class="title-small center">à voir aussi</h3>

        <div class="row">
            <div class="col-3 item">
                <a href="#" class="full-link"></a>
                <div class="image"><img src="assets/images/s1.jpg" alt=""></div>
                <div class="info">
                    <p class="title-item">Dîner gastronomique</p>
                    <p class="price description">Avec le chef Daniel Humm</p>
                </div>
            </div>
            <div class="col-3 item">
                <a href="#" class="full-link"></a>
                <div class="image"><img src="assets/images/s2.jpg" alt=""></div>
                <p class="title-item">Tee-shirt brodé</p>
                <p class="price description">40€</p>
            </div>
            <div class="col-3 item">
                <a href="#" class="full-link"></a>
                <div class="image"><img src="assets/images/s3.jpg" alt=""></div>
                <p class="title-item">Un dimanche au vert</p>
                <p class="price description">Balade et déjeuner dans le Vexin</p>
            </div>
            <div class="col-3 item">
                <a href="#" class="full-link"></a>
                <div class="image"><img src="assets/images/shop03.png" alt=""></div>
                <div class="info">
                    <p class="title-item">Zippo</p>
                    <p class="price description">75€</p>
                </div>
            </div>
        </div>
    </div>
</div>