<div class="block-shop-event">
    <div class="wrapper">
        <div class="image-text shop">
            <img src="assets/images/shop.png" alt="">
        </div>

        <div class="row">
            <div class="col-3 item">
                <a href="#" class="full-link"></a>
                <div class="image"><img src="assets/images/shop01.png" alt=""></div>
                <div class="info">
                    <p class="title-item">Couvre-chef brodé</p>
                    <p class="price description">55€</p>
                </div>
            </div>
            <div class="col-3 item">
                <a href="#" class="full-link"></a>
                <div class="image"><img src="assets/images/shop02.png" alt=""></div>
                <p class="title-item">Écusson</p>
                <p class="price description">22€</p>
            </div>
            <div class="col-3 item">
                <a href="#" class="full-link"></a>
                <div class="image"><img src="assets/images/shop03.png" alt=""></div>
                <p class="title-item">Zippo</p>
                <p class="price description">75€</p>
            </div>
            <div class="col-3 item">
                <a href="#" class="full-link"></a>
                <div class="image"><img src="assets/images/shop04.png" alt=""></div>
                <div class="info">
                    <p class="title-item">Sapin magique</p>
                    <p class="price description">15€</p>
                </div>
            </div>
        </div>
    </div>
</div>