.block-shop-event {
    margin-bottom: 40px;
    .wrapper {
        h2 {
            margin-bottom: 30px;
        }
        border-bottom: 0.5px solid black;
        padding-bottom: 40px;
        .item {
            .title-item {
                padding-top: 15px;
            }
        }
    }

}