.block-breadcrumb {
    background-color: #4A483B;
    height: 40px;
    .wrapper-large {
        height: 100%;
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        .include-breadcrumb {
            ul {
                display: flex;
                li {
                    margin-right: 10px;
                }
            }
        }
        .box-newsletter {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}