@import '../includes/variables';
@import '../includes/mixins';

.block-category {
    padding-top: 80px;
    margin-bottom: 119px;
    .title {
        margin-bottom: 27px;
    }
    .wrap-tag {
        display: flex;
        justify-content: space-between;
        margin-bottom: 75px;
    }

    .list-tag {
        display: flex;
        flex-wrap: wrap;

        a {
            margin-right: 30px;
        }
    }
}