@import '../includes/variables';

.block-descriptions {
    text-align: center;
    padding: 30px 0 60px;

    .wrapper {
        max-width: 1000px;
    }

    .title {
        margin-bottom: 20px;
    }

    .description {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 40px;
        font-family: $font-2;
        font-style: italic;
    }

    .social {
        justify-content: center;
    }
}