@import '../includes/variables';

.block-list-post {
    margin-bottom: 50px;

    .wrapper {
        max-width: 980px;
    }

    .list-item {
        padding-bottom: 56px;

        .item {
            display: flex;
            margin-bottom: 50px;

            .image {
                width: 380px;
                margin-right: 58px;
                flex-shrink: 0;

                img {
                    width: 100%;
                }
            }

            .info {
                max-width: 480px;
                position: relative;

                .icon-right {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 2;
                }

                .title {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 700;
                }

                .sub-title {
                    font-size: 20px;
                    line-height: 24px;
                    font-style: italic;
                    margin-bottom: 17px;
                }

                .description {
                    font-size: 12px;
                    line-height: 18px;
                    margin-bottom: 17px;
                }

                .author {
                    font-size: 12px;
                    line-height: 15px;
                    margin-bottom: 30px;
                }
            }
        }
    }

}