.pagination {
    position: relative;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            position: relative;
            padding: 4px 4px;
            font-size: 9px;
            margin: 0 2px;
            &.active {
                border: 1px solid #000;
                border-radius: 14px;
                position: relative;
                width: 15px;
                height: 20px;
                a {
                    position: absolute;
                }
            }
            a {

                font-size: 12px;
                font-family: $font-2;
                font-weight: bold;
            }
            &:last-child {
                padding-left: 15px;
            }
        }
    }
    .image-right {
        position: absolute;
        right: 0;
        top: -32px;
        img {
            width: 108px;
        }
    }
}