.block-pour-vous {
    .wrapper-small {
        background: $grey1;
        padding: 50px 0;
    }

    .title-small {
        margin-bottom: 30px;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: center;

        .item {
            max-width: 280px;

            .info {
                background: white;
                padding: 20px;
            }
        }
    }
    &.include-items-category {
        .item {
            max-width: 100%;
            img {
                width: 100%;
            }
        }
    }

}