.block-pour-vous {
    margin-bottom: 150px;
    .wrapper-small {
        background: $grey1;
        padding: 44px 0 26px 0;
    }

    .title-small {
        margin-bottom: 30px;
        text-transform: uppercase;
        margin-bottom: 42px;
        letter-spacing: 1.2px;

    }

    .row {
        display: flex;
        align-items: center;
        justify-content: center;

        .item {
            max-width: 300px;
            margin-bottom: 35px;

            .info {
                padding: 6px 18px 15px 16px;
                background: white;
                .tag {
                    padding-bottom: 13px;
                    padding-left: 0;
                    span {
                        &:nth-child(1) {
                            padding-right: 20px;
                        }
                        &:nth-child(2) {
                            padding: 0 17px;
                        }
                    }
                }
            }
        }
    }

    &.include-items-category {
        margin-bottom: 40px;
        .row {
            .item {
                max-width: 100%;
                img {
                    width: 100%;
                }
                .info {
                    padding: 10px 20px 20px 0px;
                }
            }
        }
        .block-banner {
            &.small {
                margin: 20px 0 75px;
            }
        }

    }

}