.post-recently {
    margin-bottom: 120px;
    clear: both;

    .top-recently {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;

        .item {
            display: flex;
            align-items: center;
            font-size: 12px;
            text-transform: uppercase;

            &:first-child {
                img {
                    margin-right: 30px;
                    transform: rotate(180deg);
                }
            }

            &:last-child {
                img {
                    margin-left: 30px;
                }
            }

        }
    }

    .list-item-recently {
        display: flex;
        justify-content: space-between;

        .item {
            max-width: 280px;

            .image {
                margin-bottom: 10px;

                img {
                    width: 100%;
                }
            }

            .description {
                font-size: 16px;
                line-height: 20px;
                padding-right: 30px;
                position: relative;
                font-family: $font-2;
                font-weight: 400;
                font-style: italic;

                span {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}